{% extends "base_generic.html" %}

{% block nohero %}
{% endblock %}

{% block content %}
<div class="container-xxl my-5">
    <div class="alert alert-info d-flex align-items-center" role="alert">
        <i class="bi bi-info-circle me-2"></i>
        <div>
            Единственный способ войти в аккаунт для вас сейчас — найти кого‑то из пед‑состава
            и попросить выдать вам пароль.
        </div>
    </div>

    <a href="{% url 'login' %}" class="btn btn-primary mt-3">
        <i class="bi bi-box-arrow-in-right me-1"></i>Войти в аккаунт
    </a>
</div>
{% endblock %}
