{% extends "registration/base_generic.html" %}

{% block content %}
<h1>Изменение пароля</h1>
{% if request.user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    <ul>
        <li>В целях безопасности, пожалуйста, введите свой старый пароль, затем введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.</li>
        <br />
        {% if form.errors.old_pass %}
        <ul>
            {% for element in form.errors.old_pass %}
            <li><p class="p-3 mb-2 bg-danger text-light">{{ element }}</p></li>
            {% endfor %}
        </ul>
        {% endif %}
        <li>{{ form.old_pass.label_tag }}</li>
        <li>{{ form.old_pass }}</li>
        {% if form.errors.new_pass %}
        <br />
        <ul>
            {% for element in form.errors.new_pass %}
            <li><p class="p-3 mb-2 bg-danger text-light">{{ element }}</p></li>
            {% endfor %}
        </ul>
        {% endif %}
        <li>{{ form.new_pass.label_tag }}</li>
        <li>{{ form.new_pass }}</li>
        <br />
        <li>
            Пароль не должен быть слишком похож на другую вашу личную информацию.
            <br />
            Ваш пароль должен содержать как минимум 8 символов.
            <br />
            Пароль не должен быть слишком простым и распространенным.
            <br />
            Пароль не может состоять только из цифр.
        </li>
        <br />
        {% if form.errors.new_pass_again %}
        <ul>
            {% for element in form.errors.new_pass_again %}
            <li><p class="p-3 mb-2 bg-danger text-light">{{ element }}</p></li>
            {% endfor %}
        </ul>
        {% endif %}
        <li>{{ form.new_pass_again.label_tag }}</li>
        <li>{{ form.new_pass_again }}</li>
        <br />
    </ul>
    <input type="submit" value="Изменить пароль" />
</form>
{% else %}
<p class="p-3 mb-2 bg-warning text-light">Чтобы сменить пароль, нужно войти в аккаунт.</p>
<a href="{% url 'login'%}">Нажмите здесь, чтобы войти в аккаунт.</a>
{% endif %}
{% endblock %}
