{% extends "bank/base_generic.html" %}

{% block content %}
    <h1>Все аккаунты</h1>
    <ul class="nav">
    {% if perms.bank.staff_ %}
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'new-user' %}">Создать новый аккаунт</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'new-user-custom' %}">Создать новый аккаунт (с доп.настройкой)</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'new-user-auto' %}">Импорт аккаунтов из файла</a></li>
        {% if object_list %}
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'update-all-pass' %}">Обновить все пароли</a></li>
        {% endif %}
    {% endif %}
    </ul>
    <br />
    {% if object_list %}
    <table class="table table-striped table-hover table-bordered" cellpadding=30px>
        <thead>
            <tr>
                <th scope="col">Аккаунт</th>
                <th score="col">Группа</th>
                <th score="col">Ссылка</th>
            </tr>
        </thead>
        <tbody>
        {% for element in object_list %}
        <tr>
            <td>{{ element.info }}</td>
            <td>
                {% if element.is_ped == True %}
                    <span class="green">Педсостав</span>
                {% else %}
                    <span class="red">Пионер</span>
                {% endif %}
            </td>
            <td><a href="{{ element.get_absolute_url_for_edit }}">Изменить аккаунт...</a></td>
        </tr>
        {% endfor %}
    </table>
    {% if object_list.has_previous %}
        <a href="?page1={{ object_list.previous_page_number }}">Предыдущая страница</a>
    {% endif %}
    <span class="page-current">
        Страница {{ object_list.number }} из {{ object_list.paginator.num_pages }}.
    </span>
    {% if object_list.has_next %}
        <a href="?page1={{ object_list.next_page_number }}">Следующая страница</a>
    {% endif %}
    <form method="GET" action="{% url 'info-users' %}">
        <input type="text" name="page1" value="{{ messages.number }}" />
        <button type="submit">Перейти</button>
    </form>
    {% else %}
      <p>Ещё не существует ни одного аккаунта.</p>
    {% endif %}
{% endblock %}
