{% extends "base_generic.html" %}

{% block title %}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Банк ЛЕС</title>
    {% endif %}
{% endblock %}

{% block hero %}
<h1 class="display-5 fw-bold">{{ head|default:"Редактирование" }}</h1>
<p class="lead">Редактирование данных</p>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7 col-md-9">
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}

            <table>
            {{ form }}
            </table>

            <div class="d-flex mt-4">
                <button type="submit" name="save"
                        class="btn btn-success me-2">
                    <i class="bi bi-save me-1"></i>Сохранить изменения
                </button>

                <button type="submit" name="delete" value="1"
                        class="btn btn-outline-danger">
                    <i class="bi bi-trash me-1"></i>Удалить
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
