{% extends "bank/base_generic.html" %}

{% block content %}
    <h1>Все транзакции всех пользователей:</h1>
    {% if object_list %}
    <ui>
        {% for element in object_list %}
        <li>
            <a href="{{ element.get_absolute_url }}">{{ element.short_name }} <b>({{ element.balance }}t)</b></a>
        </li>
        {% endfor %}
    </ui>
    {% if object_list.has_previous %}
        <a href="?page1={{ object_list.previous_page_number }}">Предыдущая страница</a>
    {% endif %}
    <span class="page-current">
        Страница {{ object_list.number }} из {{ object_list.paginator.num_pages }}.
    </span>
    {% if object_list.has_next %}
        <a href="?page1={{ object_list.next_page_number }}">Следующая страница</a>
    {% endif %}
    <form method="GET" action="{% url 'accounts' %}">
        <input type="text" name="page1" value="{{ messages.number }}" />
        <button type="submit">Перейти</button>
    </form>
    {% else %}
      <p>Ещё не существует ни одного аккаунта.</p>
    {% endif %}
    <a href="#top" title="В начало" tabindex="-1" class="topbutton">Наверх</a>
{% endblock %}
