{% extends "bank/base_generic.html" %}

{% block content %}
    <h1>Мой счёт</h1>
    <h5>Сейчас на вашем счету 
        {% if request.user.account.balance > 0 %}
            <span class="green">{{request.user.account.balance}}t</span>
        {% elif request.user.account.balance == 0 %}
            {{request.user.account.balance}}t
        {% else %}
            <span class="red">{{request.user.account.balance}}t</span>
        {% endif %}
    .</h5>
    <p><a href="{% url 'new-transaction-base' %}">Совершить перевод средств...</a></p>
    <h4>Последние изменения счёта</h4>
    {% if object_list %}
    <table class="table table-striped table-hover table-bordered" cellpadding=30px>
        <thead>
            <tr>
                <th score="col">Дата</th>
                <th score="col">Изменение счёта</th>
                <th score="col">Комментарий</th>
                <th score="col">Создатель</th>
            </tr>
        </thead>
        <tbody>
            {% for element in object_list %}
            <tr>
                <td>{{ element.date }}</td>
                <td>
                    {% if element.sign == '-' %}
                        {% if element.receiver == request.user.account and request.user.account.account_valid == element.transaction_valid %}
                        <span class="red">-{{ element.get_sum }}</span>
                        {% else %}
                        <span class="green">+{{ element.get_sum }}</span>
                        {% endif %}
                    {% else %}
                        {% if element.receiver == request.user.account and request.user.account.account_valid == element.transaction_valid %}
                        <span class="green">+{{ element.get_sum }}</span>
                        {% else %}
                        <span class="red">-{{ element.get_sum }}</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ element.comment }}</td>
                <td>{{ element.history }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
      <p>На ваш счет ещё не было поступлений.</p>
    {% endif %}
{% endblock %}
