{% extends "base_generic.html" %}

{% block hero %}
<h1 class="display-4 fw-bold mb-3">Мой счёт</h1>
<p class="lead">
    Сейчас на вашем счёте
    {% if request.user.account.balance > 0 %}
        <span class="text-success">{{ request.user.account.balance }}t</span>
    {% elif request.user.account.balance == 0 %}
        <span class="text-white">{{ request.user.account.balance }}t</span>
    {% else %}
        <span class="text-danger">{{ request.user.account.balance }}t</span>
    {% endif %}
    .
    <a href="{% url 'new-transaction-base' %}" class="btn btn-outline-primary">
        <i class="bi bi-arrow-up-right-circle me-1"></i>Совершить перевод средств
    </a>
</p>
{% endblock %}

{% block content %}
<h4 class="mt-5 mb-4">Последние изменения счёта</h4>

{% if page_obj %}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered mb-0">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Дата</th>
                    <th scope="col">Изменение</th>
                    <th scope="col">Тип</th>
                    <th scope="col">Комментарий</th>
                    <th scope="col">Создатель</th>
                </tr>
            </thead>
            <tbody>
                {% for element in page_obj %}
                <tr>
                    <td>{{ element.date|date:"d.m.Y H:i" }}</td>
                    <td>
                        {% if element.sign == "-" %}
                            {% if element.receiver == request.user.account %}
                                <span class="text-danger">-{{ element.get_sum }}</span>
                            {% else %}
                                <span class="text-success">+{{ element.get_sum }}</span>
                            {% endif %}
                        {% else %}
                            {% if element.receiver == request.user.account %}
                                <span class="text-success">+{{ element.get_sum }}</span>
                            {% else %}
                                <span class="text-danger">-{{ element.get_sum }}</span>
                            {% endif %}
                        {% endif %}
                    </td>

                    <td>{{ element.get_type_of }}</td>
                    <td>
                        <div class="text-break small">{{ element.comment|linebreaksbr }}</div>
                    </td>

                    <td>{{ element.history }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="alert alert-info">
        На ваш счёт ещё не было поступлений.
    </div>
{% endif %}
{% endblock %}
