{% if items1 %}
<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Чат</th>
        <th scope="col">Создатель</th>
        <th scope="col">Приватность</th>
        <th scope="col">Состояние</th>
        <th scope="col">Ссылка</th>
    </tr>
    </thead>
    {% load static %}
    <tbody>
        {% for element in items1 %}
        <tr>
            <td><img src="{{ element.get_img }}" style="width: 40px; height: 40px;" /></td>
            <td>{{ element.name }}</td>
            <td>{{ element.creator }}</td>
            <td>
                <span {% if element.anonim %} class="green" {% elif not element.anonim_legacy %} class="red" {% endif %}>
                {{ element.anonim_status }}</span>
                <br />
                {% if element.resend_status %}
                <span class="red">Сообщения можно пересылать</span>
                {% else %}
                <span class="green">Сообщения нельзя пересылать</span>
                {% endif %}
            </td>
            {% for el2 in readen_status %}
            {% if el2.what_chat.id == element.id %}
            <td>{% if el2.readen %}
                <span class="green">Прочитано</span>{% else %}<span class="red">Не прочитано</span>{% endif %}</td>
            {% endif %}
            {% endfor %}
            <td><a href="{{ element.get_absolute_url }}">Перейти в чат</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% if items1.has_previous %}
    <a href="?page1={{ items1.previous_page_number }}">Предыдущая страница</a>
{% endif %}
<span class="page-current">
    Страница {{ items1.number }} из {{ items1.paginator.num_pages }}.
</span>
{% if items1.has_next %}
    <a href="?page1={{ items1.next_page_number }}">Следующая страница</a>
{% endif %}
<form method="GET" action="{% url 'messages' %}">
    <input type="text" name="page1" value="{{ items1.number }}" />
    <button type="submit">Перейти</button>
</form>
{% else %}
    <p>Ещё нет ни одного чата с вашим участием.</p>
{% endif %}