{% if items2 %}
{% if type == 'd' %}
<table class="table table-striped table-bordered" cellpadding=30px>
    <thead>
        <tr>
            <th scope="col">Данные об отправителе</td>
            <th scope="col">Текст сообщения</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2"></td>
        </tr>
        {% for element in items2 %}
        <tr>
            <td>{% if element.anonim %}Сообщение отправлено анонимно.{% else %}{{ element.creator }}{% endif %}</td>
            <td rowspan="4"><pre class="text-break multiple-text">{{ element.text }}</pre></td>
        </tr>
        <tr>
            <td>{% if element.anonim %}Статус неизвестен{% else %}Статус: {{ element.creator.get_status }}{% endif %}.</td>
        </tr>
        <tr>
            <td>Отправка: {{ element.get_date }}.</td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elif type == 'a' %}
    <hr class="border-2" />
    {% for element in items2 %}
    <p class="{{ theme }}">
        <strong>{% if element.anonim %}Сообщение отправлено анонимно.{% else %}{{ element.creator }}:{% endif %}</strong>
        <br />
        <pre class="{{ theme }} text-break multiple-text">{{ element.text }}</pre>
    </p>
    <hr class="border-1" />
    <p class="{{ theme }} small"><b>{% if element.anonim %}Статус неизвестен{% else %}Статус: {{ element.creator.get_status }}{% endif %}.</b></p>
    <p class="p-3 mb-2 text-muted small">Отправка: {{ element.get_date }}.</p>
    <hr class="border-2" />
    {% endfor %}
{% else %}
<table class="table table-striped table-bordered {{ theme }}" cellpadding=30px>
    <thead>
        <tr>
            <th scope="col">Данные об отправителе</td>
            <th scope="col">Текст сообщения</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2"></td>
        </tr>
        {% for element in items2 %}
        <tr>
            <td>{% if element.anonim %}Сообщение отправлено анонимно.{% else %}{{ element.creator }}{% endif %}</td>
            <td rowspan="4"><pre class="text-break multiple-text">{{ element.text }}</pre></td>
        </tr>
        <tr>
            <td>{% if element.anonim %}Статус неизвестен{% else %}Статус: {{ element.creator.get_status }}{% endif %}.</td>
        </tr>
        <tr>
            <td>Отправка: {{ element.get_date }}.</td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if items2.has_previous %}
    <a href="?page2={{ items2.previous_page_number }}">Предыдущая страница</a>
{% endif %}
<span class="page-current">
    Страница {{ items2.number }} из {{ items2.paginator.num_pages }}.
</span>
{% if items2.has_next %}
    <a href="?page2={{ items2.next_page_number }}">Следующая страница</a>
{% endif %}
<form method="GET" action="{% url 'messages' %}">
    <input type="text" name="page1" value="{{ messages.number }}" />
    <button type="submit">Перейти</button>
</form>
{% else %}
    <p>Глобальных сообщений ещё нет.</p>
{% endif %}