{% extends "messenger/base_generic.html" %}
{% load static %}

{% block title %}
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Мессенджер ЛИСа</title>
    {% endif %}
{% endblock %}

{% block hero %}
    <h1 class="display-4 fw-bold mb-3">{{ head|default:"Создание" }}</h1>
{% endblock %}

{% block content %}
    <section class="container-xxl py-4">
        <form action="" method="post"
              enctype="multipart/form-data"
              class="needs-validation"
              novalidate>
            {% csrf_token %}
            <table>
                {{ form }}
            </table>

            <div class="mt-4">
                <button type="submit"
                        class="btn btn-primary">
                    {% if name %}{{ name }}{% else %}Создать{% endif %}
                </button>
            </div>

            {% if foot %}
                <p class="mt-3 text-muted small">{{ foot }}</p>
            {% endif %}
        </form>
    </section>
{% endblock %}
