{% extends "messenger/base_generic.html" %}

{% block content %}
<h1><img src="{{ chat.get_img }}" width="50px" height="50px" />Чат "{{ chat.name }}"</h1>
<h3>Описание:</h3>
<p><pre class="text-break multiple-text">{{ chat.description }}</pre></p>
<h3>Информация:</h3>
<ui>
    <li>Создатель: <strong>{{ chat.creator }}</strong></li>
    {% if not chat.anonim %}
    <li>Количество участников: <strong>{{ chat.cnt }}</strong></li>
    {% else %}
    <li>Количество участников: <strong>больше одного...</strong></li>
    {% endif %}
    <li>Тип чата: <strong>{% if chat.anonim %}<span class="green">Анонимный{% else %}<span class="red">Публичный{% endif %}</span></strong></li>
    {% if not chat.anonim %}
    <li>Анонимные сообщения в чате <strong>{% if chat.anonim_legacy %}<span class="green">разрешены{% else %}<span class="red">запрещены{% endif %}</span></strong>.</li>
    {% else %}
    <li>Все сообщения в чате <strong class="green">анонимные</strong>.</li>
    {% endif %}
</ui>
<h3>Сообщения:</h3>
{% if items2 %}
{% if type == 'd' %}
<table class="table table-striped table-bordered" cellpadding=30px>
    <thead>
        <tr>
            <th scope="col">Данные об отправителе</td>
            <th scope="col">Текст сообщения</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2"></td>
        </tr>
        {% for element in items2 %}
        <tr>
            <td>{% if element.anonim %}Сообщение отправлено анонимно.{% else %}{{ element.creator }}{% endif %}</td>
            <td rowspan="3"><pre class="text-break multiple-text">{{ element.decrypt_data }}</pre></td>
        </tr>
        <tr>
            <td>{% if element.anonim %}Статус неизвестен{% else %}Статус: {{ element.creator.get_status }}{% endif %}.</td>
        </tr>
        <tr>
            <td>Отправка: {{ element.get_date }}.</td>
        </tr>
        <tr>
            <td class="blockquote-footer text-end" colspan="2">
                {% if element.answer_for %}
                <a href="{{ element.get_absolute_url_for_view_answer }}">{{ element.get_text_for_view_answer }}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% elif type == 'a' %}
    <hr class="border-2" />
    {% for element in items2 %}
    <p class="{{ theme }}">
        <strong>{% if element.anonim %}Сообщение отправлено анонимно.{% else %}{{ element.creator }}:{% endif %}</strong>
        <br />
        <pre class="{{ theme }} text-break multiple-text">{{ element.decrypt_data }}</pre>
    </p>
    <hr class="border-1" />
    <p class="{{ theme }} small"><b>{% if element.anonim %}Статус неизвестен{% else %}Статус: {{ element.creator.get_status }}{% endif %}.</b></p>
    <p class="p-3 mb-2 text-muted small">Отправка: {{ element.get_date }}.</p>
    {% if element.answer_for %}
    <a href="{{ element.get_absolute_url_for_view_answer }}" class="blockquote-footer text-end">{{ element.get_text_for_view_answer }}</a>
    {% endif %}
    <hr class="border-2" />
    {% endfor %}
{% else %}
<table class="table table-striped table-bordered {{ theme }}" cellpadding=30px>
    <thead>
        <tr>
            <th scope="col">Данные об отправителе</td>
            <th scope="col">Текст сообщения</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2"></td>
        </tr>
        {% for element in items2 %}
        <tr>
            <td>{% if element.anonim %}Сообщение отправлено анонимно.{% else %}{{ element.creator }}{% endif %}</td>
            <td rowspan="4"><pre class="text-break multiple-text">{{ element.decrypt_data }}</pre></td>
        </tr>
        <tr>
            <td>{% if element.anonim %}Статус неизвестен{% else %}Статус: {{ element.creator.get_status }}{% endif %}.</td>
        </tr>
        <tr>
            <td>Отправка: {{ element.get_date }}.</td>
        </tr>
        <tr>
            <td class="blockquote-footer text-end" colspan="2">
                {% if element.answer_for %}
                <a href="{{ element.get_absolute_url_for_view_answer }}">{{ element.get_text_for_view_answer }}</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% if items2.has_previous %}
    <a href="?page2={{ items2.previous_page_number }}">Предыдущая страница</a>
{% endif %}
<span class="page-current">
    Страница {{ items2.number }} из {{ items2.paginator.num_pages }}.
</span>
{% if items2.has_next %}
    <a href="?page2={{ items2.next_page_number }}">Следующая страница</a>
{% endif %}
<form method="GET" action="{{ chat.get_absolute_url_from_archive }}">
    <input type="text" name="page2" value="{{ messages.number }}" />
    <button type="submit">Перейти</button>
</form>
{% else %}
    <p>В чат ещё никто не писал. Будьте первым!</p>
{% endif %}
{% endblock %}
