{% extends "messenger/base_generic.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'src/js/jquery.js' %}"></script>
    <script>
        $(document).ready(function() {
            setInterval(updateMessages, 5000); // Обновление каждые 5 секунд (можно настроить)

            function updateMessages() {
                $.ajax({
                    url: "{{ chat.get_absolute_url_for_msg }}",
                    dataType: 'json',
                    success: function(response) {
                        $('#messages').html(response.html); // Обновляем список сообщений
                    }
                });
            }
        });
    </script>
{% endblock %}

{% block hero %}
    <h1 class="display-4 fw-bold mb-3">
        <img src="{{ chat.get_img }}" width="50" height="50" class="me-2 align-middle"
             alt="Иконка чата">
        Чат «{{ chat.name }}»
    </h1>
{% endblock %}

{% block content %}
    <section class="mt-4">
        <h3 class="h5">Описание</h3>
        <pre class="text-break multiple-text bg-light p-3 rounded">{{ chat.description }}</pre>
    </section>
    <section class="mt-4">
        <h3 class="h5">Информация</h3>

        <ul class="list-unstyled mb-0">
            <li>Создатель: <strong>{{ chat.creator }}</strong></li>

            {% if not chat.anonim %}
                <li>Количество участников: <strong>{{ chat.cnt }}</strong></li>
            {% else %}
                <li>Количество участников: <strong>больше одного…</strong></li>
            {% endif %}

            <li>Тип чата:
                <strong>
                    {% if chat.anonim %}
                        <span class="text-success">Анонимный</span>
                    {% else %}
                        <span class="text-danger">Публичный</span>
                    {% endif %}
                </strong>
            </li>

            {% if not chat.anonim %}
                <li>Анонимные сообщения в чате:
                    <strong>
                        {% if chat.anonim_legacy %}
                            <span class="text-success">разрешены</span>
                        {% else %}
                            <span class="text-danger">запрещены</span>
                        {% endif %}
                    </strong>
                </li>
            {% else %}
                <li>Все сообщения в чате:
                    <strong class="text-success">анонимные</strong>
                </li>
            {% endif %}

            <li>Пересылка сообщений из чата:
                <strong>
                    {% if chat.resend_status %}
                        <span class="text-success">можно</span>
                    {% else %}
                        <span class="text-danger">нельзя</span>
                    {% endif %}
                </strong>
            </li>

            {% if chat.chat_valid.avaliable %}
                {% if request.user.account == chat.creator %}
                    <li>
                        <strong>
                            <a href="{{ chat.get_absolute_url_for_edit }}"
                               class="text-decoration-none">Если вы хотите изменить этот чат, перейдите по данной ссылке…</a>
                        </strong>
                    </li>
                {% endif %}

                <li>Чат помечен
                    {% if readen_status %}
                        <strong class="text-success">прочитанным</strong>
                    {% else %}
                        <strong class="text-danger">не прочитанным</strong>
                    {% endif %}
                </li>
            {% endif %}
        </ul>

        {% if chat.chat_valid.avaliable %}
            <form method="post" class="mt-3">
                {% csrf_token %}
                {{ form2.as_ul }}
                <button type="submit"
                        class="btn {% if readen_status %}btn-outline-danger{% else %}btn-outline-success{% endif %}">
                    {% if readen_status %}
                        Пометить непрочитанным
                    {% else %}
                        Пометить прочитанным
                    {% endif %}
                </button>
            </form>
        {% endif %}
    </section>

    {% if chat.chat_valid.avaliable %}
        <section class="mt-5">
            <h3 class="h5">Создать новое сообщение</h3>
            <form method="post" class="row g-3">
                {% csrf_token %}
                {{ form }}
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </section>
    {% endif %}

    <section class="mt-5">
        <h3 class="h5">Сообщения</h3>
        <div id="messages">
            {% include 'messenger/updates/update_messages.html' %}
        </div>
    </section>
{% endblock %}
